<!DOCTYPE html>
<html>
<head>
	<title>Mail cost</title>
	<link rel="stylesheet" href="week02home.css" type="text/css">
</head>
<body>
<div class="row">
    
	<div class="main">
	<h1>Cost of mail</h1>
	<p>With the weight of <%= weight %>oz for the type of "<%= type %>"</p>
	<p>The cost will be $<%= price %>.</p>
	</div>
	</div>

	</body>
</html>