<!DOCTYPE html>
<html>
<head>
	<title>Operation Result</title>
	<link rel="stylesheet" href="week02home.css" type="text/css">
</head>
<body>
<div class="row">
    
	<div class="main">
	<h1>Cost of your mail</h1>
	<p>The result of performing "<%= type %>" on <%= weight %> is: <%= price %></p>
	</div>
	</div>

	</body>
</html>